.btn {
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.2rem;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1.5px; }
  .btn:hover {
    cursor: pointer; }

.btn-primary {
  background: #0074e8; }
  .btn-primary:hover {
    background: #005bb5; }

.btn-secondary {
  background: rgba(0, 0, 0, 0.7); }
  .btn-secondary:hover {
    background: #0074e8; }
